name: Test Report
on:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read
  actions: read
  checks: write
jobs:
  report:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        fetch-depth: 0
    - name: Git Fetch
      run: git fetch --force --tags
    - name: Setup go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version: stable
    - name: Run Unit Tests
      run: make unit-test
    - name: Test Report
      uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2
      if: success() || failure()
      with:
        name: Unit Test Results
        path: ./build/reports/**-test.xml
        reporter: java-junit
        fail-on-error: 'true'
    - name: Upload Reports
      if: always()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
      with:
        name: unit-test-reports
        path: ./build/reports/**
